/* use this pattern for custom css file */

.custom-css-style {
  background-color: @primary-color !important;
}

.custom-reverse-icon > .anticon + span,
.custom-reverse-icon > span + .anticon {
  margin-right: 8px;
  margin-left: 0px;
}

.c-sufix-prefix-gray > .ant-input-prefix,
.c-sufix-prefix-gray > .ant-input-suffix {
  color: rgb(184, 184, 184);
}
.c-rounded-button {
  border-radius: 9999px;
}
