.survey-group-tabs {
  .ant-tabs-tab {
    margin: 0 5px 0 0;
    border: 1px solid #F0F0F0;
    padding: 10px 20px;
    background-color: #FAFAFA;
  }

  .ant-tabs-tab.ant-tabs-tab-active {
    background-color: #fff;
    border-bottom: none;
  }

  .ant-tabs-ink-bar {
    background: transparent;
  }

  .ant-tabs-nav {
    margin: 0;
  }
}

.survey-mode-tabs {
  .ant-tabs-tab {
    margin: 0 20px 0 0;
    border: none;
    padding: 10px;
    background-color: transparent;
  }

  .ant-tabs-tab.ant-tabs-tab-active {
    background-color: transparent;
    border-bottom: #1BB7D9;
  }

  .ant-tabs-ink-bar {
    background: #1BB7D9;
  }

  .ant-tabs-content-holder {
    padding: 20px 0;
  }
}

.welcome-modal {
  .ant-modal-footer {
    position: absolute;
    top: 410px;
    right: 20px;
  }
}

.red-radio {
  .ant-radio-checked .ant-radio-inner {
    border-color: red !important;
  }

  .ant-radio-checked .ant-radio-inner:after {
    background-color: red;
  }

  .ant-radio:hover .ant-radio-inner {
    border-color: red;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: red;
    border-color: red;
  }
}
